@inherits Umbraco.Web.Mvc.UmbracoViewPage<Agouti.Web.Models.HomePageModel>
@{
    Layout = "Master.cshtml";
}
@if (Umbraco.MemberIsLoggedOn())
{
    if (string.IsNullOrEmpty(Model.TestCategory))
    {
        <form method="get">
            <select name="category">
                @foreach (var testCategory in Model.TestCategories)
                {
                    <option value="@testCategory">@testCategory</option>
                }
            </select>
            <input type="submit" />
        </form>
    }
    else
    {
        <div class="questionnaire">
            <div class="questionImage">
                <img src="@Model.QuestionImageUriString" alt="@Model.QuestionImageUriString" />
            </div>
            <div class="questionOptionsWrapper">
                <ul>
                    @foreach (var questionOption in Model.QuestionOptions)
                    {
                        <li><a class="question-option" href="#">@questionOption</a></li>
                    }
                </ul>
            </div>
        </div>
    }
}
<div class="footer">
    @Html.Action("MemberLogin", "MemberLoginSurface")
</div>
